# Firebase Configuration
# Get these from your Firebase Project Settings
VITE_FIREBASE_API_KEY=AIzaSyDM_jCIvf-1iWkVIjYUkyiHffMbJFeF6n0
VITE_FIREBASE_AUTH_DOMAIN=ebsoft-ff4fa.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ebsoft-ff4fa
VITE_FIREBASE_STORAGE_BUCKET=ebsoft-ff4fa.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=843025314594
VITE_FIREBASE_APP_ID=1:843025314594:web:a228c98faa0e732105ab7b
VITE_FIREBASE_MEASUREMENT_ID=G-RMX75TWS21
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-8058405a-c0a3-447b-b888-6b89e52110fc
